
.CodeMirror {
    border: 1px black solid;
}

code {
    color: #bbb7a9;
    background-color: #3f5a61;
    padding: 10px;
    border: 2px solid #999999;
    border-radius: 2px;
    margin: 10px;
    font-weight: bold;
}

.warn {
    color: #000000;
    background-color: #c5b700;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #000000;
}

.info {
    color: #000000;
    background-color: #1aa4e5;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #000000;
}

a {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}