
.CodeMirror {
    border: 1px black solid;
}

code {
    color: #bbb7a9;
    background-color: #3f5a61;
    padding: 10px;
    border: 2px solid #999999;
    border-radius: 2px;
    margin: 10px;
    font-weight: bold;
}